@import '_reset.scss';
@import '_components.scss';
.container-lg{
    width: 85vw;
    margin: 0 auto;
}
.flex-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.d-flex{
    display: flex;
    align-items: center;
    justify-content: center;
}

$dark-bg:#020e29;
$light-text: #ffffff;
$bright-orange:#fe5e15;
$dark-text: #555555;


#header-one{
    .top_header{
        background-color: $dark-bg;
        color: $light-text;
        .container-lg{
            .left_top_header{
                .col:first-child{
                    margin-left: 0;
                }
                .col{
                    margin: 1rem 1rem;
                    font-family: 'roboto', sans-serif;
                    h2{
                        font-size: 1rem;
                        padding: 0 1rem;
                        font-weight: lighter;
                    }
                    i{
                        color: $bright-orange;
                    }
                }
            }
            .right_top_header{
                form{
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    input{
                        background-color: transparent;
                        border: 2px solid $bright-orange;
                        padding: 0.5rem 0;
                    }
                    button{
                        background-color: $bright-orange;
                        padding: 0.5rem 0.5rem;
                        border: 2px solid $bright-orange;
                        cursor: pointer;
                        a{
                            color: $light-text;
                        }
                    }
                    input::placeholder{
                        color: $light-text;
                        padding: 0 0.5rem;
                    }
                    input:focus{
                        color: $light-text;
                    }
                }
            }
        }
    }
    // CSs For Manu and Logo
    .navber{

        .container-lg{
            .logo{
                background-color: $bright-orange;
                position: relative;
                h1{
                    font-family: 'aller',sans-serif;
                    padding: 1.77rem 0;
                    padding-right: 2rem;
                    color: $light-text;
                }
            }
            .logo::before{
                content: '';
                background-color: $bright-orange;
                width: 100px;
                height: 100%;
                top: 0;
                left: -100px;
                position: absolute;
            }
            .logo::after{
                content: "";
                background-color: #fe5e12;
                top: 0;
                position: absolute;
                left: 100px;
                z-index: -1000;
                width: 100px;
                height: 100%;
                transform: skewX(31deg);
            }

            .menu{
                ul{
                    li{
                        padding: 2rem 1.5rem;
                        position: relative;
                        cursor: pointer;
                        a{
                            font-family: 'montserrat', sans-serif;
                            font-weight: bold;
                            font-size: 1.1rem;
                            color: $dark-text;
                        }
                    }
                    li:hover{
                        a{
                            color: $bright-orange;
                        }
                    }
                    li::before{
                        content: '';
                        position: absolute;
                        width: 0;
                        height: 2px;
                        background-color: $bright-orange;
                        top: 0;
                        left: 0;
                        transition: 0.8s;
                    }
                    li:hover::before{
                        width: 100%;
                    }
                    li:last-child{
                        padding-right: 0;
                    }
                }
            }
        }
    }
}