@import url("https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@400;800;900&family=Roboto&display=swap");
/*

font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif; 

*/
@font-face {
  font-family: "aller";
  src: url(../font/Aller_Rg.ttf) format("ttf"), url(../font/Aller.woff) format("woff"), url(../font/Aller_Rg.eot) format("eot"), url(../font/Aller.svg#aller) format("svg");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  transition: all 0.4s ease;
  scroll-behavior: smooth;
}
* ul li {
  list-style: none;
}
* li {
  list-style-type: none;
}
* a {
  text-decoration: none;
}
* button {
  border: none;
}

.btn {
  border-radius: 5px;
  padding: 10px 35px;
  border: 1px solid #fe5e15;
  background-color: #fe5e15;
}
.btn a {
  font-size: 0.9rem;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1.5px;
}
.btn a {
  color: #ffffff;
}

.btn:hover {
  background-color: transparent;
  border: 1px solid #ffffff;
}

.btn-light {
  border-radius: 5px;
  padding: 10px 35px;
  border: 1px solid #ffffff;
  background-color: transparent;
}
.btn-light a {
  font-size: 0.9rem;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1.5px;
}
.btn-light a {
  color: #ffffff;
}

.btn-light:hover {
  background-color: #fe5e15;
  border: 1px solid #fe5e15;
}

.btn-bright-orange {
  border-radius: 5px;
  padding: 10px 35px;
  background-color: #fe5e15;
  border: 1px solid #fe5e15;
}
.btn-bright-orange a {
  font-size: 0.9rem;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1.5px;
}
.btn-bright-orange a {
  color: #ffffff;
}

.btn-bright-orange:hover {
  background-color: transparent;
  border: 1px solid #fe5e15;
}
.btn-bright-orange:hover a {
  color: #fe5e15;
}

.container-lg {
  width: 85vw;
  margin: 0 auto;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.d-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.d-flex-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.d-flex-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.d-grid-4 {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 1rem 1rem;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: #dddddd;
}

::-webkit-scrollbar-thumb {
  background-color: #fe5e15;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a63501;
}

::-moz-selection {
  background-color: #fe5e15;
}

::selection {
  background-color: #fe5e15;
}

#header-one .top_header {
  background-color: #020e29;
  color: #ffffff;
}
#header-one .top_header .container-lg .left_top_header .col:first-child {
  margin-left: 0;
}
#header-one .top_header .container-lg .left_top_header .col {
  margin: 1rem 1rem;
  font-family: "roboto", sans-serif;
}
#header-one .top_header .container-lg .left_top_header .col h2 {
  font-size: 1rem;
  padding: 0 1rem;
  font-weight: lighter;
}
#header-one .top_header .container-lg .left_top_header .col i {
  color: #fe5e15;
}
#header-one .top_header .container-lg .right_top_header form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#header-one .top_header .container-lg .right_top_header form input {
  background-color: transparent;
  border: 2px solid #fe5e15;
  padding: 0.5rem 0.5rem;
}
#header-one .top_header .container-lg .right_top_header form button {
  background-color: #fe5e15;
  padding: 0.5rem 0.5rem;
  border: 2px solid #fe5e15;
  cursor: pointer;
}
#header-one .top_header .container-lg .right_top_header form button a {
  color: #ffffff;
}
#header-one .top_header .container-lg .right_top_header form input::-moz-placeholder {
  color: #ffffff;
}
#header-one .top_header .container-lg .right_top_header form input:-ms-input-placeholder {
  color: #ffffff;
}
#header-one .top_header .container-lg .right_top_header form input::placeholder {
  color: #ffffff;
}
#header-one .top_header .container-lg .right_top_header form input:focus {
  color: #ffffff;
}
#header-one .navber .container-lg .logo {
  background-color: #fe5e15;
  position: relative;
}
#header-one .navber .container-lg .logo h1 {
  font-family: "aller", sans-serif;
  padding: 1.77rem 0;
  padding-right: 2rem;
  color: #ffffff;
}
#header-one .navber .container-lg .logo::before {
  content: "";
  background-color: #fe5e15;
  width: 100px;
  height: 100%;
  top: 0;
  left: -100px;
  position: absolute;
}
#header-one .navber .container-lg .logo::after {
  content: "";
  background-color: #fe5e12;
  top: 0;
  position: absolute;
  left: 100px;
  z-index: -1000;
  width: 100px;
  height: 100%;
  transform: skewX(31deg);
}
#header-one .navber .container-lg .menu ul li {
  padding: 2rem 1.5rem;
  position: relative;
  cursor: pointer;
}
#header-one .navber .container-lg .menu ul li a {
  font-family: "montserrat", sans-serif;
  font-weight: bold;
  font-size: 1.1rem;
  color: #555555;
}
#header-one .navber .container-lg .menu ul li:hover a {
  color: #fe5e15;
}
#header-one .navber .container-lg .menu ul li::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #fe5e15;
  top: 0;
  left: 0;
  transition: 0.8s;
}
#header-one .navber .container-lg .menu ul li:hover::before {
  width: 100%;
}
#header-one .navber .container-lg .menu ul li:last-child {
  padding-right: 0;
}
#header-one .main_header {
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.488), rgba(0, 0, 0, 0.497)), url(../img/bannar.jpg);
  width: 100%;
  height: 77vh;
}
#header-one .main_header .content-cover {
  text-align: left;
  padding: 4rem 0;
  color: #ffffff;
  font-family: "aller", sans-serif;
}
#header-one .main_header .content-cover h1 {
  padding: 1rem 0;
  font-size: 3rem;
}
#header-one .main_header .content-cover p {
  padding: 0 0 1rem 0;
}
#header-one .main_header .content-cover .btn-cover button {
  margin: 0 1rem 0 0;
}

#features {
  padding: 3rem 0;
  font-family: "montserrat", sans-serif;
}
#features .grid-item-1 {
  grid-column-start: 1;
  grid-column-end: 3;
}
#features .grid-item-1 h1 {
  font-size: 30px;
  font-weight: 900;
  line-height: 2;
  color: #555555;
}
#features .grid-item-1 h1 span {
  color: #fe5e15;
}
#features .grid-item-1 p {
  margin: 1rem 0;
  color: #555555;
  font-weight: bolder;
}
#features .grid-item-1 hr {
  width: 10%;
  height: 5px;
  background-color: #fe5e15;
  border: none;
}
#features .grid-item-2 {
  padding: 1rem;
  box-shadow: 0 0 25px -20px #020e29;
  position: relative;
  transition: 0.4s;
}
#features .grid-item-2 i {
  margin: 1rem 0;
  font-size: 3rem;
  color: #fe5e15;
}
#features .grid-item-2 h2 {
  color: #555555;
  font-weight: bolder;
  margin-bottom: 1rem;
  line-height: 1.5;
}
#features .grid-item-2 p {
  color: #555555;
  line-height: 1.5;
}
#features .grid-item-2::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #fe5e15;
  transition: all 0.5s;
}
#features .grid-item-2:hover::after {
  width: 100%;
}
#features .grid-item-2:hover {
  background-color: #030d23;
}
#features .grid-item-2:hover i, #features .grid-item-2:hover h2, #features .grid-item-2:hover p {
  color: #ffffff;
}

#hero {
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.488), rgba(0, 0, 0, 0.497)), url(../img/b.jpg);
  width: 100%;
  height: 60vh;
  background-position: top left;
  background-size: cover;
}
#hero .content-box {
  text-align: center;
  font-family: "montserrat", sans-serif;
  padding-top: 6rem;
}
#hero .content-box h1 {
  font-size: 4rem;
  font-weight: bold;
  color: #dddddd;
}
#hero .content-box p {
  font-size: 1rem;
  color: #dddddd;
}

.error .container-lg {
  padding: 4rem 0;
  font-family: "montserrat", sans-serif;
  text-align: center;
  color: #555555;
}
.error .container-lg h2 {
  padding-top: 3rem;
  font-size: 3rem;
}
.error .container-lg h1 {
  font-size: 12rem;
}
.error .container-lg h1 span {
  color: #fe5e15;
}
.error .container-lg p {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
.error .container-lg .btn-dark {
  padding: 20px 40px;
  background-color: #fe5e15;
  border: 1.5px solid #fe5e15;
}
.error .container-lg .btn-dark a {
  color: #ffffff;
  font-family: "montserrat", sans-serif;
  font-size: 1.1rem;
  font-weight: 700;
}
.error .container-lg .btn-dark:hover {
  background-color: transparent;
  border: 1.5px solid #fe5e15;
}
.error .container-lg .btn-dark:hover a {
  color: #fe5e15;
}

#footer_area {
  position: relative;
}
#footer_area .go_top {
  position: fixed;
  bottom: 2rem;
  left: 92%;
}
#footer_area .go_top a i {
  padding: 1rem;
  font-size: 2rem;
  color: #ffffff;
  background-color: #fe5e15;
  border-radius: 5px;
}
#footer_area .footer-main {
  background-color: #020e29;
}
#footer_area .footer-main .container-lg {
  padding: 2rem 0;
  color: #dddddd;
  font-family: "roboto", sans-serif;
}
#footer_area .footer-main .container-lg .col {
  width: 30%;
}
#footer_area .footer-main .container-lg .col .col-area p {
  line-height: 25px;
  margin: 1rem 0;
}
#footer_area .footer-main .container-lg .col .col-area .social_area {
  margin: 1rem 0;
}
#footer_area .footer-main .container-lg .col .col-area .social_area li {
  padding-right: 1rem;
}
#footer_area .footer-main .container-lg .col .col-area .social_area li a i {
  color: #ffffff;
  text-align: center;
  padding: 10px;
  border-radius: 100%;
  border: 2px solid #fe5e15;
  background-color: #fe5e15;
}
#footer_area .footer-main .container-lg .col .col-area .social_area li:first-child a i {
  padding: 10px 13px;
}
#footer_area .footer-main .container-lg .col .col-area .social_area li:hover a i {
  border: 2px solid #fe5e15;
  background-color: transparent;
  color: #fe5e15;
}
#footer_area .footer-main .container-lg .services-link h4 {
  text-transform: uppercase;
  font-size: 1.4rem;
  padding-bottom: 1rem;
}
#footer_area .footer-main .container-lg .services-link .col-1-area .col-1 {
  margin-right: 4rem;
}
#footer_area .footer-main .container-lg .services-link .col-1-area .col-1 li {
  padding: 0.5rem 0;
}
#footer_area .footer-main .container-lg .services-link .col-1-area .col-1 li a {
  color: #dddddd;
}
#footer_area .footer-main .container-lg .services-link .col-1-area .col-1 li:hover a {
  color: #fe5e15;
}
#footer_area .footer-main .container-lg .subscribe h2 {
  text-transform: uppercase;
  font-size: 1.4rem;
  padding-bottom: 1rem;
}
#footer_area .footer-main .container-lg .subscribe form {
  margin-top: 1rem;
}
#footer_area .footer-main .container-lg .subscribe form input {
  padding: 1rem 0.5rem;
  margin-bottom: 0.5rem;
  width: 100%;
  background-color: #07183a;
  border: 1px solid #07183a;
  color: #dddddd;
}
#footer_area .footer-main .container-lg .subscribe form input::-moz-placeholder {
  color: #dddddd;
}
#footer_area .footer-main .container-lg .subscribe form input:-ms-input-placeholder {
  color: #dddddd;
}
#footer_area .footer-main .container-lg .subscribe form input::placeholder {
  color: #dddddd;
}
#footer_area .footer-main .container-lg .subscribe form input:focus {
  border: 1px solid #66AFE9;
}
#footer_area .footer-bottom {
  background-color: #030d23;
}
#footer_area .footer-bottom .container-lg h2 {
  font-size: 1.1rem;
  font-weight: lighter;
  padding: 2rem 0;
  font-family: "lato", sans-serif;
  color: #ffffff;
}
#footer_area .footer-bottom .container-lg h2 span {
  color: #fe5e15;
}/*# sourceMappingURL=style.css.map */